.basket-enter {
  opacity: 0;
}

.basket-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.basket-exit {
  opacity: 1;
}

.basket-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}
